*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    margin-left: 28px;
}
.container{
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
}
h1{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
.chat{
    background-color: #fff;
    padding: 20px;
    border-radius: 16px;
    display: inline-block;
}
.msg{
    background-color: rgba(70, 70, 253, 0.899);
    color: white;
    padding: 5px 15px;
    border-radius: 14px;
}
